.navbar {
	background-color: #fff;
	color: #28a745; /* Texto verde */
	padding: 10px 20px;
	margin: 0% auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 1000;
	transition: transform 0.3s ease-in-out; /* Transición suave para el ocultado y mostrado */
}

/* Efecto de que desaparece la barra */
.navbar-visible {
	transform: translateY(0);
}

.navbar-hidden {
	transform: translateY(-100%);
}

/* Animación de rebote */
.navbar__container-img {
	width: 80%;
	animation: bounce 1s infinite;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

/* Barra de navegación */
.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

/* Estilo para los enlaces */
.navbar-links {
	display: flex;
	gap: 20px;
	position: relative;
}

.navbar-links a {
	color: #00b1c6;
	font-weight: 600;
	text-decoration: none;
	font-size: 1.5rem;
	align-items: center;
}

.navbar-links a:hover {
	color: #155724;
	text-decoration: wavy;
}

/* Contenedor de DarkMode */
.navbar-darkmode {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/* Estilos del botón DarkMode */
.dark-mode-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	font-size: 1.5rem;
	color: #28a745; /* Color verde */
}

.dark-mode-btn svg {
	width: 25px;
	height: 25px;
}

.dark-mode-btn:hover {
	color: #155724;
}

/* Media Queries */

/* Pantallas de hasta 1024px */
@media (max-width: 1024px) {
	.navbar-container {
		flex-direction: column;
		align-items: center;
		padding: 8px 0;
	}

	.navbar-links {
		flex-direction: column;
		gap: 10px;
		width: 100%;
		text-align: center;
	}

	.navbar-links a {
		font-size: 1.1rem;
	}

	.navbar__container-img {
		margin-bottom: 10px;
	}
}

/* Pantallas de hasta 768px */
@media (max-width: 768px) {
	.navbar-container {
		flex-direction: column;
		align-items: center;
		padding: 10px 15px;
	}

	.navbar-links {
		flex-direction: column;
		gap: 8px;
		width: 100%;
		text-align: center;
	}

	.navbar-links a {
		font-size: 1.1rem;
	}

	.navbar__container-img {
		width: 80px;
		height: auto;
		margin-bottom: 10px;
	}

	.navbar-links a {
		padding: 8px;
	}
}

/* Pantallas de hasta 370px */
@media (max-width: 370px) {
	.navbar-container {
		flex-direction: column;
		align-items: center;
		padding: 8px 10px;
	}

	.navbar__container-img {
		width: 60px;
		height: auto;
		margin-bottom: 10px;
	}

	.navbar-links {
		flex-direction: column;
		gap: 8px;
		width: 100%;
		text-align: center;
	}

	.navbar-links a {
		font-size: 1rem;
		padding: 6px 0;
	}

	.dark-mode-btn {
		font-size: 1.2rem;
		padding: 6px;
	}
}
