.search {
	max-width: 350px;
	width: 100%;
	margin: 2.5em auto 2em;
	display: grid;
	grid-template-columns: 1fr 0.25fr;
}

.search__input {
	border: none;
	background-color: #fff;
	border-radius: 4px 0 0 4px;
	padding: 0.5em 0.75em;
	outline: none;
	font-size: 1.1rem;
}

.search__btn {
	border: none;
	color: #fff;
	background-color: #160440;
	border-radius: 0px 8px 8px 0;
	padding: 0.5em 0.75em;
	font-size: 1.1rem;
	outline: none;
}

.message__error {
	text-align: center;
	color: #fff;
	margin-bottom: 2em;
}
