@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Colors */
	--body-bg: #05282e;
	--text: #7cb623;
	--bg-card: #062226;
	--color-primary: #70a821;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #032a4b;
}

img,
svg,
video {
	max-width: 100%;
	height: auto;
}
